.container {
  height: 80vh;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #fefefe;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}
.root__container {
  width: 380px;
}
